.bookmark-container {
  border-radius: 8px;
  background: rgba(17, 17, 17, 0.05);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bookmark-container > h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}
.bookmark {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
}

/* 64f1a06648c42 64f1a06648c7e 64f1a06648cb9 64f1a06648cf5 64f1a06648d30 64f1a06648d6c */